---
CompileFlags:
  Add: [-include, kernel/types.h]
---
If:
  PathMatch: kernel/defs\.h$
CompileFlags:
  Add: [-include, kernel/riscv.h]
---
If:
  PathMatch: kernel/sleeplock\.h$
CompileFlags:
  Add: [-include, kernel/spinlock.h]