---
CompileFlags:
  Add: [-include, kernel/types.h]
---
If:
  PathMatch: kernel/defs\.h$
CompileFlags:
  Add: [-include, kernel/riscv.h, -include, kernel/trap.h]
---
If:
  PathMatch: kernel/trap\.h$
CompileFlags:
  Add: [-include, kernel/param.h, -include, kernel/spinlock.h]
---
If:
  PathMatch: kernel/proc\.h$
CompileFlags:
  Add: [-include, kernel/param.h, -include, kernel/riscv.h, -include, kernel/spinlock.h]